/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}
.class {

}

.benefits {
  font-size: 20px;
  font-weight: 600px;
  color: #fff;
}

header {

}

h1 {
  font-weight: 800px;
  font-size: 24px;
  color: #fff;
  padding-left: 40px;
}

.headline {
  font-size: 24px;
  font-weight: 600px;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 
  font-size: 20px;
  font-weight: 600px;
  color: #01204C;
  padding-left: 40px;
}

p {
  font-size: 13px;
  font-weight: 300px;
}

ul li {
  font-size: 13px;
  font-weight: 300px;
}

blockquote {
  font-size: 18px;
  font-weight: 300px;
  font-style: italic;
  color: #fff;
  align-content: center;
}

footer {
  font-size: 9px;
  font-weight: 600px;
  color: #fff;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.name {
  font-size: 18px;
  font-weight: 600px;
  color: #fff;
}

.cta {
  font-weight: 800px;
  font-size: 12px; 
}
